@media screen and (max-width: 500px) {
  main {
    padding: 0 2rem;
  }

  .skills {
    grid-template-columns: 1fr;
  }

  .tidbits {
    grid-template-columns: repeat(2, 1fr);
  }
  .timeline {
    flex-direction: column;
  }

  @mixin timeline-element-left {
    border-top: none;
    min-height: 50px;
    position: absolute;
    top: 0;
  }

  .timeline-element {
    .solid {
      border-left: 3px solid purple;
      @include timeline-element-left;
    }
    .dashed {
      border-left: 3px dashed purple;
      @include timeline-element-left;
    }
  }
}
